<div class="post">
	<h3>{tag_blogposttitle}</h3>
    <p class="postmetadata">
        <span class="meta-prep meta-prep-author">Posted on</span> 
        <a href="#" title="" rel="bookmark"><span class="entry-date">{tag_blogpostdate}</span></a> 
		<span class="meta-sep">by</span> <span class="author vcard">{tag_blogpostauthor}
      <div class="social">
{module_facebooklike, url="{tag_itemurl_withhost}", width="100", showFaces="false"}
{module_twittertweet, url="{tag_itemurl_withhost}"}
</div>
        <!--Posted in        
        <a href="#" title="View all posts in Blog" rel="category tag">Blog</a>,-->
        <a href="{tag_permalinkonly}#comments">Comments &#187;</a>
	</p>

	{tag_blogpostbody}
       
	<a href="{tag_permalinkonly}" class="more-link"><span class="view-more-blog">Read More &raquo;</span></a></p>
       
	<div class="divider-small"></div>
</div>

